---
name: Lint
on: [ pull_request ]

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: actionlint
        uses: reviewdog/action-actionlint@v1

  terraform_fmt:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.10.5
      -
        name: terraform fmt
        run: terraform fmt -recursive
      -
        name: reviewdog / terraform fmt
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: terraform fmt
          fail_on_error: true

  tflint:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: tflint
        uses: reviewdog/action-tflint@v1
        with:
          github_token: ${{ secrets.github_token }}
          fail_on_error: true
          tflint_version: v0.56.0
          flags: "--recursive"
